.page {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #d4e1ee;
}


.card {
    width: 200px;
    height: 310px;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
}

.card__image {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    margin-top: 10px;
}

.card__info {
    width: 175px;
    font-size:  15px;
    text-align: center;
    margin:15px auto 2px;
}

.card__info-sub {
    width: 175px;
    font-size:  11px;
    text-align: center;
    margin-top: 10px;
}
